services:
  php:
    image: php:8.4-fpm
    volumes:
      - ./:/var/www/html
    networks:
      - internal

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    networks:
      - internal
    depends_on:
      - php

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: root
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - internal
  composer:
    image: composer:latest
    volumes:
      - ./:/app
networks:
  internal:

volumes:
  db_data:
